
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    width: 50%;
    height: 50px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-top: 20px;
    background-color: #f07f98;
    border: 2px solid #845068;
}

p {
    width: auto;
    font-size: 18px;
    margin: auto;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

input{
    width: 40%;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
}

input[type="submit"], input[type="button"]{
    width: 22%;
    height: 40px;
    background-color: #f07f98;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #d56989;
}

input[type="submit"]:active, input[type="button"]:active{
    background-color: #b04a6e;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}

.container {
    width: 50%;
    height: 20rem;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}